<% # 合計成績 %>
<% if @event_users.present? %>
  <div>
    <h2>合計成績</h2>
    <div class='mb-3'>
      <table class='table table-hover'>
        <thead class='thead-default'>
          <tr>
            <th></th>
            <th></th>
            <% @event_users.each do |event_user| %>
              <th><%= event_user.name %></th>
            <% end %>
            <% if @event.games.present? %>
              <tbody>
                <tr>
                  <th>
                    <td>合計</td>
                    <% @event_users.each do |event_user| %>
                      <td><%= @event.sum_user_score(event_user.id).round(2) %></td>
                    <% end %>
                  </th>
                </tr>
                <tr>
                  <th>
                    <td>順位</td>
                    <% @event_users.each do |event_user| %>
                      <td><%= @event.user_rank(event_user.id) %></td>
                    <% end %>
                  </th>
                </tr>
              </tbody>     
            <% end %>
            <td><%= simple_format(h(@event.description), {}, sanitize: false, wrapper_tag: "div") %></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
<% end %>

<% # 成績明細 %>
<% if @event_users.present? %>
  <div>
    <h2>成績明細</h2>
    <table class='table table-hover'>
      <thead class='thead-default'>
        <tr>
          <th></th>
          <th></th>
          <% @event_users.each do |event_user| %>
            <th><%= event_user.name %></th>
          <% end %>
          <% if @event.games.present? %>
            <% @game.each_with_index do |game, index| %>
              <tbody>
                <tr>
                  <th>
                    <td><%= link_to "#{index + 1} 回戦", event_game_path(params[:id],game.id) %></td>
                    <% @event_users.each_with_index do |event_user, index| %>
                      <% gamedetail = GameDetail.user_records(game.id, event_user.id).first %>
                      <% if gamedetail.present? %>
                        <td><%= gamedetail.score %></td>
                      <% else %>
                        <td>-</td>
                      <% end %>
                    <% end %>
                  </th>
                </tr>
              </tbody>
            <% end %>

            <tr>
              <th>
                <td>合計</td>
                <% @event_users.each do |event_user| %>
                  <td><%= @event.sum_user_score(event_user.id).round(2) %></td>
                <% end %>
              </th>
            </tr>
          <% else %>
            <p>※成績が登録されていません！</p>
          <% end %>
        </tr>
      </thead>
    </table>
  </div>
<% end %>

<% if @event_users.count >= 4 %>
  <%= link_to '成績登録', new_event_game_path(params[:id]), class: 'btn btn-primary mr-3' %>
<% else %>
  <p>※参加者が足りません。4名以上の参加者を登録してください！</p>
<% end %>

<h2>対局の詳細</h2>

<div class='nav justify-content-end'>
  <%= link_to '対局一覧に戻る' , events_path, class: 'nav-link' %>
</div>

<table class='table table-hover'>
  <tbody>
    <tr>
      <th><%= Event.human_attribute_name(:name) %></th>
      <td><%= @event.name %></td>
    </tr>
    <tr>
      <th><%= Event.human_attribute_name(:day) %></th>
      <td><%= @event.day.strftime("%F") %></td>
    </tr>
    <tr>
      <th><%= Event.human_attribute_name(:community_name) %></th>
      <td><%= @community_name %></td>
    </tr>
    <tr>
      <th><%= Event.human_attribute_name(:description) %></th>
      <td><%= simple_format(h(@event.description), {}, sanitize: false, wrapper_tag: "div") %></td>
    </tr>
  </tbody>
</table>

<%= link_to '編集', edit_event_path, class: 'btn btn-primary mr-3' %>
<%= link_to '削除', @event, method: :delete, data: { confirm: "対局「#{@event.name}」を削除します。よろしいですか？"}, class: 'btn btn-danger' %>
