<%= form_with model: [:admin, @horse], local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control', id:'horse_name', placeholder:'例) 5-10,10-20' %>
  </div>

  <div class='form-group'>
    <%= f.label :point1 %>
    <%= f.text_field :point1, class: 'form-control', id:'horse_point1', placeholder:'10000' %>
  </div>

  <div class='form-group'>
    <%= f.label :point2 %>
    <%= f.text_field :point2, class: 'form-control', id:'horse_point2', placeholder:'5000' %>
  </div>

  <%= f.submit nil , class: 'btn btn-primary' %>
  <%= link_to '削除', [:admin, horse], method: :delete, data: { confirm: "ウマ「#{horse.name}」を削除します。よろしいですか？"}, class: 'btn btn-danger' %>
<% end %>
