<div class='page-title'>
  ウマの更新
  <%= image_tag('common/title-horses-icon.png' ) %>
</div>

<div class='contents-box'>
  <div class='nav justify-content-end'>
    <%= link_to 'ウマ登録', new_admin_horse_path, class: 'insert-btn' %>
  </div>
  <div><%= "件数：#{@horses.count} 件"%></div>

  <div>
    <table class='main-table table-striped header-sticky'>
      <thead>
        <tr>
          <th><%= Horse.human_attribute_name(:name) %></th>
          <th><%= Horse.human_attribute_name(:point1) %></th>
          <th><%= Horse.human_attribute_name(:point2) %></th>
        </tr>
      </thead>
      <tbody>
        <% @horses.each do |horse| %>
          <tr>
            <td><%= link_to horse.name ,edit_admin_horse_path(horse) %></td>
            <td><%= horse.point1 %></td>
            <td><%= horse.point2 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>