<h2>コミュニティ一覧</h2>

<div class='nav justify-content-start'>
  <p><%= "件数：#{@communities.count} 件" %></p>
</div>

<%= link_to 'コミュニティ登録', new_admin_community_path, class: 'btn btn-outline-success btn-block' %>

<div class='mb-3'>
  <table class='table table-hover'>
    <thead class='thead-default'>
      <tr>
        <th><%= Community.human_attribute_name(:name) %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @communities.each do |community| %>
        <tr>
        <td><%= link_to community.name, [:admin, community] %></td>
        <td></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'コミュニティ登録', new_admin_community_path, class: 'btn btn-outline-success btn-block' %>
