<div class='page-title'>
  コミュニティ情報
  <%= image_tag('common/title-community-icon.png' ) %>
</div>

<div class='contents-box'>
  <div class='nav justify-content-end'>
    <%= link_to 'コミュニティ一覧' , admin_communities_path, class: 'nav-link' %>
  </div>

  <h3 class="header-line"><%= @community.name %></h3>

  <div><%= "メンバー：#{@community.users.count}名"%></div>

  <div>
    <table class='main-table table-striped'>
      <thead class='thead-default'>
        <tr>
          <th><%= Community.human_attribute_name(:name) %></th>
        </tr>
      </thead>
      <tbody>
        <% @community.users.each do |user| %>
          <tr>
            <td>
              <span class='profile-icon'>
                <% if user.icon.present? %>
                  <%= image_tag(user.icon_url, :size =>'35x35') %>
                <% else %>
                  <%= image_tag('profile-icon/0_profile_icon.png', :size => '35x35' ) %>
                <% end %>
              </span>
              <%= user.name %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to '編集', edit_admin_community_path, class: 'btn btn-primary mr-3' %>
  <%= link_to '削除', [:admin, @community], method: :delete, data: { confirm: "ユーザー「#{@community.name}」を削除します。よろしいですか？"}, class: 'btn btn-danger' %>

</div>
