<div class='page-title'>
  ユーザ詳細
  <%= image_tag('common/title-home-icon.png', :size => '29x24' ) %>
</div>

<div class='contents-box'>
  <div class='nav justify-content-end'>
    <%= link_to '一覧' , admin_users_path, class: 'nav-link' %>
  </div>

  <div class='flexContainer'>
    <div class='profile-icon'>
      <% if @user.icon.present? %>
        <%= image_tag(@user.icon_url, :size =>'100x100') %>
      <% else %>
        <%= image_tag('common/user-icon.png', :size => '100x100' ) %>
      <% end %>
      <p class='btn-field'>
        <%= User.human_attribute_name(:id) %>
        <%= @user.id %>
      </p>
    </div>

    <div class='basic-information'>
      <div class='authority-style'>
        <% if @user.admin? %>
          <%= '管理者' %>
        <% elsif @user.login_flg? %>
          <%= '一般（ログイン可能）' %>
        <% else %>
          <%= 'ゲスト（ログイン不可）' %>
        <% end %>
      </div>
      <div class='name-style'><%= @user.name %></div>
      <div class='mail-style'>
        <%= image_tag('common/mail-icon.png', :size => '28x28' ) %>
        <%= @user.mail %>
      </div>
      <table class='day-style'>
        <tbody>
          <tr>
            <th><%= User.human_attribute_name(:created_at) %></th>
            <td><%= @user.created_at %></td>
          </tr>
          <tr>
            <th><%= User.human_attribute_name(:updated_at) %></th>
            <td><%= @user.updated_at %></td>
          </tr>
        </tbody>
      </table>

      <div class='description-box'>
        <div class='headline'><%= User.human_attribute_name(:description) %></div>
        <div class='description-text'>
          <p>
            <%= simple_format(h(@user.description), {}, sanitize: false, wrapper_tag: "div") %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class='btn-field'>
    <%= link_to '編集', edit_admin_user_path, class: 'insert-btn' %>
    <%= link_to '削除', [:admin, @user], method: :delete, data: { confirm: "ユーザー「#{@user.name}」を削除します。よろしいですか？"}, class: 'delete-btn' %>
  </div>
  
</div>

<%= stylesheet_link_tag('admin/users') %>