
<!DOCTYPE html>
<html>
  <head>
    <title>
      |  麻雀NOTE
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': 'reload') %>
    <%= javascript_include_tag('application', 'data-turbolinks-track': 'reload') %>
    <meta content="width=device-width, initial-scale=1" name="viewport">
  </head>
  <body>
    <div class='app-title navbar navbar-expand-md navbar-dark top-header'>
      <h1 class='navbar-brand mb-0'>
        <%= link_to 'MJ-NOTE', root_path, id: "logo" %>
      </h1>
      <ul class='navbar-nav ml-auto'>
        <button class='navbar-toggler' aria-controls="navbarNav" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarNav" data-toggle="collapse" type="button">
          <span class='navbar-toggler-icon'></span>
        </button>
        <div id='navbarNav' class='collapse navbar-collapse'>
          <ul class='navbar-nav'>
            <% if current_user %>
              <% if current_user.admin? %>
                <li class='nav-item active'>
                  <a class='nav-link' data-target=".navbar-collapse.show" data-toggle="collapse" href="#">
                    <%= link_to 'ユーザ一覧', admin_users_path, class: 'nav-link' %>
                  </a>
                </li>
                <li class='nav-item active'>
                  <a class='nav-link' data-target=".navbar-collapse.show" data-toggle="collapse" href="#">
                    <%= link_to 'コミュニティ管理', admin_communities_path, class: 'nav-link' %>
                  </a>
                </li>
                <li class='nav-item active'>
                  <a class='nav-link' data-target=".navbar-collapse.show" data-toggle="collapse" href="#">
                    <%= link_to 'ウマ管理', admin_horses_path, class: 'nav-link' %>
                  </a>
                </li>
              <% end %>
              <li class='nav-item active'>
                <a class='nav-link' data-target=".navbar-collapse.show" data-toggle="collapse" href="#">
                  <%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %>
                </a>
              </li>
            <% else %>
              <li class='nav-item active'>
                <a class='nav-link' data-target=".navbar-collapse.show" data-toggle="collapse" href="#">
                  <%= link_to 'ログイン', login_path, class: 'nav-link'%>
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </ul>
    </div>

    <div class='top-background flexContainer'>
      <% if current_user %>
      <div class='sidebar'>
        <div>
          <%= link_to 'マイページ', root_path, class: 'p-menuCircle__big not-decoration' %>
        </div>
        <%= link_to '対局一覧', events_path, class: 'p-menuCircle--topColor not-decoration' %>
        <%= link_to 'ランキング', rankings_show_path, class: 'p-menuCircle not-decoration' %>
        <div>
          <%= link_to 'ウマ管理', admin_horses_path, class: 'p-menuCircle--bottomColor not-decoration' %>
        </div>
        <div>
          <%= link_to 'ログアウト', logout_path, method: :delete, class: 'p-menuCircle__small not-decoration' %>
        </div>
      </div>
      <% end %>

      <div class='main-container'>
        <% if flash.notice.present? %>
          <div class='alert alert-success'>
            <%= flash.notice %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
